[submodule "FundMe/lib/forge-std"]
	path = FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundMe/lib/chainlink-brownie-contracts"]
	path = FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FundMe/lib/openzeppelin-contracts"]
	path = FundMe/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Crowdfund/lib/openzeppelin-contracts"]
	path = Crowdfund/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Crowdfund/lib/chainlink-brownie-contracts"]
	path = Crowdfund/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Raffle/lib/chainlink-brownie-contracts"]
	path = Raffle/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
